/* remove default browser spacing*/
/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 60%;
  margin: auto;
  font-family: 'JetBrains Mono', monospace;
  font-size: 1rem;
  line-height: 2rem;
  text-align: justify;
  color: #333;
}

img {
  width: 30%;
  width: 200px;
  /* border: 1px solid black; */
}
.container-main {
  margin-top: 20px;
  border: 1px solid green;
  padding: 100px 150px 100px 150px;
  border-radius: 2%;
  background-image: linear-gradient(-45deg, #7e47ff, #fff);
}
.container {
  border: 1px solid red;
  padding: 3em;
  background-color: #fff;
}

h1 {
  font-size: 1.5rem;
  margin: 2rem 0 0.5rem 0;
}

header,
.section-iv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#intro-txt {
  line-height: 1.5rem;
  margin-bottom: 0.5em;
}

#job-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.btn {
  padding: 0.5em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-image: linear-gradient(-45deg, #7e47ff, #fff);
}
